/* addCustomer.css */

/* 
PAGES: 
add customer
add tech
create new project
update profile
add payment 
assign price
assign tech
*/


body {
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 800px;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10%
}

.site-title {
  font-family: 'Helvetica';
  margin-top: 40px;
  font-weight: 300;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

input {
  display: block;
  border: 2px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

label {
  color: #777;
  font-size: 16px;
  padding: 10px 0;
  display: block;
}

/* Add Customer Form Specific Styles */

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.row input {
  flex: 1;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

#buttonCreateCustomer {
  background-color: #7a1107;
  max-width: 200px;
  margin: 0px;
  margin-right: 15px;
  padding: 12px 24px;
  margin-left: 30%;
}

#button-layout {
  display: flex;
  align-content: center;
}

#address {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#liner {
  background-color: #ebebeb;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttonAssignTech {
  background-color: #7a1107;
  border: none;
  height: 45px;

  margin: 0px;
  margin-right: 15px;
  border: 0px;
}

#buttonAssignTech:hover {
  background-color: #b6190b;
  border: none;
}