/* Search Results */

.results-container {
  max-width: 800px;
}

.techButton {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.techButton:hover {
  background-color: #7a1107;
}

.plus-sign {
  display: inline-block;
  font-size: 20px;
  /* adjust size as needed */
  line-height: 1;
  /* center vertically */
  color: white;
  /* choose color */
  font-weight: bold;
  /* make it bold if needed */
  text-align: center;
  /* center horizontally */
  width: 20px;
  /* adjust size as needed */
  height: 20px;
  /* adjust size as needed */
}

.star {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #ffdf00;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}